@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Tilt+Prism&display=swap');

:root {
  --primary-color: #FF7F50;
  --secondary-color: #4B0082;
  --border-color: #d2643d;
  --background-color: #E6E6FA;
  --font-color: #000;
}

.dark-theme-variables {
  --background-color: #23272f;
  --font-color: #fff;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--font-color);
}

.mainTheme {
  display: flex;
  justify-content: end;
}

.theme {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

h1 {
  font-size: 5em;
  font-family: 'Caveat', cursive;
}

.quote {
  font-size: 2.5em;
}

input {
  border: none;
  padding: 0.9rem;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.25s;
}

input:focus {
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.list {
  margin-top: 2em;
  padding-left: 0;
  list-style: none;
}

.list li {
  margin-bottom: 0.5em;
}

.completed {
  text-decoration: line-through;
}

button {
  margin: 5px;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: border-color 0.25s;
}

button:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

button:hover,
button:focus {
  border-color: var(--border-color);
}

/* Media queries */

@media screen and (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  h1 {
    font-size: 3em;
  }

  .quote {
    margin-top: 2em;
    font-size: 1.5em;
  }

  input {
    padding: 0.6rem;
  }

  .list {
    text-align: start;
    padding-left: 1.4em;
  }

  button {
    font-size: 0.7em;
    padding: 0.5em 0.8em;
  }
}